@import "../../../Assets/Styles/Global/Global.scss";

.readmore {
  display: flex;
  width: 100%;
  .collapsed {
    .gradient {
      position: absolute;
      z-index: 9;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(0, 0, 0, 1) 100%
      );
    }
    p {
      font-size: 24px;
    }
  }
}
