@import "../../Assets/Styles/Global/Global.scss";

.input-page {
  margin: 0;
  .background {
    height: 100px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    max-width: 2000px;
    // gap: 20px;
    .company-logo {
      width: 200px;
      height: 100px;
      z-index: 2;
      z-index: 2;
    }
    .user-auth {
      margin-left: 30px;
    }
  }
  .body {
    display: flex;
  }
}
